{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    
    <div class="container">
        <div class="icon-top">
                <p>練習日程</p>
                <a href="#"><img src="{% static 'image/iconmonstr-calendar-5.svg' %}" alt="練習日程" width="40" height="40"></a>      
        </div>
        <div class="icon-top">
                <p>出欠確認</p>
                <a href="schedule/"><img src="{% static 'image/iconmonstr-pen-3.svg' %}" alt="出欠確認" width="40" height="40"></a>      
        </div>
    </div>
    <div class="container">
        <div class="icon-top">
                <p>練習日程</p>
                <a href="#"><img src="{% static 'image/iconmonstr-calendar-5.svg' %}" alt="練習日程" width="40" height="40"></a>      
        </div>
       
    </div>
{% endblock %}

