{% extends 'app/base.html' %}
{% load static %}
{% block content %}


{% for practice in practices %}
    <div class="flex">
        <p class="set-lineup-month">{{ practice.date|date:"n"}}月</p>
        <div class="set-lineup-box">
                <p class="set-lineup-day">練習日：{{ practice.date }}</p>
                <p class="set-lineup-place">練習場所：{{ practice.Place_Category }}</p>
                <p class="set-lineup-menu">{{ practice.manu }}</p>
                <a href="{% url 'app:schedule_detail' practice.id %}">詳細</a>
                

        </div>
    </div>
{% endfor %}




{% endblock %}