{% extends 'app/base.html' %}
{% load static %}
{% block content %}



<div class="flex">
    <p class="set-lineup-month">７月</p>
    <div class="set-lineup-box">
            <p class="set-lineup-day">練習日：7月3日</p>
            <p class="set-lineup-place">練習場所：コミュニティセンター</p>
            <p class="set-lineup-menu">合奏</p>

    </div>
</div>

<div class="flex">
    <p class="set-lineup-month">７月</p>
    <div class="set-lineup-box">
            <p class="set-lineup-day">練習日：7月3日</p>
            <p class="set-lineup-place">練習場所：コミュニティセンター</p>
            <p class="set-lineup-menu">合奏</p>

    </div>
</div>












{% endblock %}